
Exercicios/__pycache__/dados.cpython-39.pyc
Exercicios/validador_cnpj/__pycache__/cnpj.cpython-39.pyc
Exercicios/Gerador_CNPJ/__pycache__/cnpj.cpython-39.pyc
Exercicios/validador_cnpj/__pycache__/cnpj.cpython-39.pyc
*.pyc
*.pyc
*.pyc
Exercicios/validador_cnpj/__pycache__/cnpj.cpython-39.pyc
.vscode/extensions.json
.vscode/settings.json
Aulas/Módulos_Python/OS-SYS-FNMATCH-Convertendo_videos_com_Python_e_FFMPEG/ffmpeg/ffmpeg.exe
.idea/modules.xml
.idea/Python3_Basico_Ao_Avancado.iml
.idea/vcs.xml
