
Exercicios/__pycache__/dados.cpython-39.pyc
Exercicios/validador_cnpj/__pycache__/cnpj.cpython-39.pyc
Exercicios/Gerador_CNPJ/__pycache__/cnpj.cpython-39.pyc
Exercicios/validador_cnpj/__pycache__/cnpj.cpython-39.pyc
*.pyc
*.pyc
